.line1 {
	background-attachment: fixed;
	background-image: url(pic/web_proposal_09.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
.line2 {
	background-attachment: fixed;
	background-image: url(pic/web_proposal_10.jpg);
	background-repeat: repeat-x;
	background-position: center center;
}
.line3 {
	background-attachment: fixed;
	background-image: url(pic/web_proposal_11.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
.line4 {
	background-attachment: fixed;
	background-image: url(pic/web_proposal_12.jpg);
	background-repeat: repeat-y;
	background-position: center center;
}
.line5 {
	background-attachment: fixed;
	background-image: url(pic/web_proposal_15.jpg);
	background-repeat: repeat-y;
	background-position: center center;
}
.line6 {
	background-attachment: fixed;
	background-image: url(pic/web_proposal_38.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
.line7 {
	background-attachment: fixed;
	background-image: url(pic/web_proposal_39.jpg);
	background-repeat: repeat-x;
	background-position: center center;
}
.line8 {
	background-attachment: fixed;
	background-image: url(pic/web_proposal_40.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
.bgForm1 {
	background-attachment: fixed;
	background-image: url(pic/bg_form1.jpg);
	background-repeat: repeat-x;
	background-position: center center;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
}
.bgForm2 {
	background-attachment: fixed;
	background-image: url(pic/bg_form2.jpg);
	background-repeat: repeat-x;
	background-position: center center;
	font-family: Arial;
	font-size: 12px;
	line-height: normal;
	font-style: normal;
}
.bgForm3 {
	background-attachment: fixed;
	background-image: url(pic/bg_form3.jpg);
	background-repeat: repeat-x;
	background-position: center center;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
}
.bgForm4 {
	background-attachment: fixed;
	background-image: url(pic/bg_form4.jpg);
	background-repeat: repeat-x;
	background-position: center center;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
}
.bgOut {
	background-attachment: fixed;
	background-image: url(pic/bg_out.jpg);
	background-repeat: repeat-x;
	background-position: center top;
}
.fontLabel1 {
	font-family: sans-serif;
	font-size: 14px;
	color: #FF9900;
	font-weight: bold;
}
.fontLink {
	font-family: Arial;
	line-height: 1px;
	font-size: 12px;
}
.banBot {
	background-attachment: fixed;
	background-image: url(pic/web_proposal_41.jpg);
	background-repeat: repeat-x;
	background-position: center center;
}
.fontBot {
	font-family: sans-serif;
	font-size: 11px;
	line-height: normal;
}
.banUp {
	background-attachment: fixed;
	background-image: url(pic/web_proposal_03.jpg);
	background-repeat: repeat-x;
	background-position: center center;
}
.fontUp {
	font-family: Arial;
	font-size: 9px;
	font-style: normal;
	color: #FFFFFF;
	background-position: center;
	line-height: normal;
}
.fontForm {
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
}
