<?xml version="1.0" encoding="UTF-8"?>
<beans 
		xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:util="http://www.springframework.org/schema/util"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- ========== Setting untuk Database dan Connection Pooling-nya ========== -->

<!-- 	<bean id="dataSourceConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:jdbc.properties" />
	</bean>
 -->

	<bean id="dataSourceConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >
		<property name="location" value="file:C:\EkaWeb\jdbc_properties\jdbc.properties"/>
	</bean>

	<!-- Create DataSource Bean -->

<!-- 	<bean id="eproposalDataSource" class="org.springframework.jndi.JndiObjectFactoryBean" destroy-method="close">
		<property name="jndiName" value="java:comp/env/jdbc/eproposal"/>
	</bean>

 -->

    <bean id="eproposalDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${oracle.driver}" />
        <property name="jdbcUrl" value="${ajsdb.jdbc.url}" />
        <property name="properties">
			<props>
				<prop key="v$session.program">eproposal</prop>
				<prop key="user">${ajsdb.jdbc.user}</prop>
	        	<prop key="password">${ajsdb.jdbc.password}</prop>
			</props>
		</property>
		<property name="acquireRetryAttempts" value="10" />
		<property name="acquireRetryDelay" value="2000" />
		<property name="minPoolSize" value="2" />
		<property name="maxPoolSize" value="10" />
		<property name="initialPoolSize" value="2" />
		<property name="acquireIncrement" value="2" />
		<property name="autoCommitOnClose" value="false" />
		<property name="maxIdleTime" value="100" />
		<property name="idleConnectionTestPeriod" value="3600" />
		<property name="preferredTestQuery" value="SELECT * FROM DUAL" />
	</bean>


     <!-- Views & i18n -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
        <property name="requestContextAttribute" value="rc"/>
    </bean>

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages" />
    </bean>

    <!-- ========== File-file Properties ========== -->

    <bean id="eproposalConf" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location" value="classpath:eproposal.properties" />
    </bean>
    
    <bean id="emailPool" class="id.co.sinarmaslife.eproposal.common.util.EmailPool">    
    	  <property name="eproposalManager" ref="eproposalManager" />
    </bean>

 	<bean id="commonExceptionRexolver" class="id.co.sinarmaslife.eproposal.common.util.CommonExceptionResolver">
		<property name="jdbcName" value="${ajsdb.jdbc.name}"/>
		<property name="emailPool" ref="emailPool"/>
	</bean>
	
</beans>